@media screen and (max-width: 768px) {
  /*==============================================================================
    共通設定
  ============================================================================= */
  html { font-size: 1.333333333333vw;}
  body { padding-top: 8rem; }
  .inner { margin: 0 3rem; width: auto; }
  .ds-pc { display: none; }
  
  /*===========================================================================
    login画面
  ============================================================================= */
  .btn-social { padding: .8rem; }
  .text { margin-left: 20px; }
  #my_size { font-size: 1.4rem; }
  .devise { padding: 1.4rem; }
  .bgc-333 {
    background-color: #333;
    padding: 4rem;
  }
  /*==============================================================================
    共通パーツ
  ============================================================================= */
  #header {
    padding: .2rem;
    background-color:#111;
    color: silver;
    font-weight: bold;
    .container { 
      max-width: 100%!important;
      margin: 0 3rem;
    }
    #logo {
      color: silver;
      text-decoration: none;
      font-size: 4rem;
      text-shadow: 1.5px 1.5px #444;
    }
    .nav { 
      font-size: 1rem;
        .btn { 
          padding: 1rem;
          align-items: center;
        }
        .mypage {
          padding: 1rem;
          margin: 0 .3rem;
          color: white;
          background: #17a2b8;
        }
        .mypage:hover {
          color: white;
          background-color: #0e7889;
        }
        .btn-padding { 
          padding: 0; 
        }
        .login_out {
          color: white;
          background-color: #666;
        }
        .login_out:hover {
          color: white;
          background-color: #444;
        }
        .newcreate:hover {
          color: #fff;
          background-color: #c11e2e;
          border-color: #c11e2e;
        }
      }
  }

  .shop-ttl { font-size: 4.5rem!important;}
  .shop-ttl-txt { margin: 1.5rem 0 0; font-size: 3rem; text-align: center;}
  /*==============================================================================
  トップページ FV
============================================================================= */
.header-pd {
  padding-top: 4rem;
}
.fv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height:  100vh;
  background:url(/images/hero.jpg) no-repeat 30% 60%/ cover;
  text-shadow: .3rem .3rem .5rem #333, .6rem .6rem 1rem #111;
  margin: 0!important;

  .fv-block {
    position: relative;
    width: 100%;
    transform: translateY(-20%);
    z-index: 3;
  }
  .fv-ttl {
    font-size: 7rem;
    text-shadow: .1rem .1rem #666, .2rem .2rem #333;
    color: lightcoral;
  }
  .fv-txt01 {
    margin: 2rem 0 0;
    font-size: 4.5rem;
    text-align: center;
  }
  .fv-txt02 {
    font-size: 3.5rem;
    margin: 1rem 0 0;
    text-align: center;
  }
  .search-form {
    margin: 3rem auto 0;
    text-align: center;
    form {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .search-box {
      width: 60rem;
      height: 6.5rem;
      padding: 1rem 0 ;
      border-radius: .5rem;
      font-size: 3rem;
    }
    .search-box.select-box {
      padding: 1.3rem 0;
    }
    .search-btn {
      width: 8rem;
      height: 6.5rem;
      margin: 0 0 0 .5rem;
      padding: 1.1rem 0;
      border: none;
      background: lightcoral;
      color: #fff;
      border-radius: .5rem;
      font-size: 3rem;
      font-weight: bold;
      letter-spacing: .1rem;
    }
    .search-btn:hover {
      opacity: .8;
    } 
  }
  .search-ttl-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: #fff;
    font-size: 7rem;
    .search-ttl {
      margin: 0 0 0 1.5rem;
    }
    .search-ttl02 {
      line-height: 1.45;
    }
    .fa-paw {
      color: lightcoral;
    }
  }
  

  // 動く矢印
  .cp_arrows *, .cp_arrows *:before, .cp_arrows *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .cp_arrows {
    position: relative;
    display: flex;
    height: 20rem;/*画面いっぱいにする場合100vh*/
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .cp_arrows .cp_arrow {
    position: absolute;
    top: 50%;/*着地点（サンプルは[class:cp_arrows]height300pxの50%）*/
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    opacity: 0;
  }
  .cp_arrows .cp_arrowfirst {
    -webkit-animation: arrow-move08 2s ease-in-out infinite;
            animation: arrow-move08 2s ease-in-out infinite;
  }
  .cp_arrows .cp_arrowsecond {
    -webkit-animation: arrow-move08 2s 1s ease-in-out infinite;
            animation: arrow-move08 2s 1s ease-in-out infinite;
  }
  .cp_arrows .cp_arrow:before, .cp_arrows .cp_arrow:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 6rem;
    height: .5rem;
    content: '';
    background: gold;
  }
  .cp_arrows .cp_arrow:before {
    -webkit-transform: rotate(30deg) translateX(-39%);
            transform: rotate(30deg) translateX(-39%);
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
  .cp_arrows .cp_arrow:after {
    -webkit-transform: rotate(-30deg) translateX(39%);
            transform: rotate(-30deg) translateX(39%);
    -webkit-transform-origin: top right;
            transform-origin: top right;
  }
  @-webkit-keyframes arrow-move08 {
    0% {
      top: 40%;/*スタート地点（サンプルは[class:cp_arrows]height300pxの35%）*/
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes arrow-move08 {
    0% {
      top: 40%;/*スタート地点（サンプルは[class:cp_arrows]height300pxの35%）*/
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(45deg, rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 50%);
    background-size: 3px 3px;
    z-index: 1;
  }
}
/*==============================================================================
  トップページ メイン
============================================================================= */
  .top-search {
    .bg { padding: 8rem 0 0;}
    .search-ttl-block {
      display: flex;
      align-items: center;
      justify-content: center;
      // width: 70rem;
      margin: 0 auto;
      color: #fff;
      font-size: 4.5rem;
      .search-ttl {
        margin: 0 0 0 1.5rem;
      }
      .search-ttl02 {
        line-height: 1.45;
      }
      .fa-paw {
        color: palevioletred;
      }
    }
    .search-form {
      margin: 3rem auto 0;
      text-align: center;
      form {
        display: flex;
        align-items: center;
      }
      .search-box {
        width: 60rem;
        height: 6.5rem;
        padding: 1rem 0 ;
        border-radius: .5rem;
        font-size: 3rem;
      }
      .search-box.select-box {
        padding: 1.3rem 0;
      }
      .search-btn {
        width: 8rem;
        height: 6.5rem;
        margin: 0 0 0 .5rem;
        padding: 1.1rem 0;
        border: none;
        background: lightcoral;
        color: #fff;
        border-radius: .5rem;
        font-size: 3rem;
        font-weight: bold;
        letter-spacing: .1rem;
      }
      .search-btn:hover {
        opacity: .8;
      } 
    }
    .group-search {
      .fa-frog {
        color: darkseagreen;
      }
    .group-search-list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-evenly;
      // width: 70rem;
      margin: -1rem auto 0;
      text-align: center;
      .group-search-item {
        width: 25rem;
        padding: 4rem 0 0;
        text-align: center;
        .photo {
          width: 20rem;
          margin: 0 auto;
          img { 
            border-radius: 50%;
          }
          img:hover {
            transform: rotate(5deg);
            transition: .3s;
            opacity: .9;
          }
        }
        .species {
          margin: 1.5rem 0 0;
          font-size: 4rem;
          font-weight: bold;
        }
      }
      }
    }
    .shop-search {
      margin: 8rem 0 0;
      .fa-spider {
        color: gold;
      }
  }
  .area-search {
    margin: 8rem 0 0;
    .fa-map-marked-alt {
      color: skyblue;
    }
  }
  
  
  }
  
  /*==============================================================================
  SHOW
  ============================================================================= */
      .show { 
        .shop-ttl-txt { font-size: 2.5rem;}
      // 生体登録
      .regist-pd {
        .regist {
          width: 90%;
          margin: 3rem auto 0;
          padding: 1rem 2rem;
          background: lightcoral;
          color: white;
          font-size: 3rem;
          border: solid 2px lightcoral;
          border-radius: 5px;
          text-shadow: 1px 1px 1px #444;
        }
      }

      // 共通メニュー
      .menu-ttl {
        position: relative;
        width: 100%;
        margin: 3rem auto .5rem;
        padding: 1rem 2rem;
        background: #222;
        color: palevioletred;
        font-size: 4rem;
        text-align: center;
        border-radius: 5%;
        line-height: 1.4;
      }
      .menu-ttl:first-of-type { margin: 1rem 0 0;}
      .menu-ttl:after { 
        position: absolute;
        top: 40%;
        right: 8%;
        width: 1.5rem;
        height: 1.5rem;
        content: attr(data-item);
        border-width: .5rem 0 0 .5rem;
        border-style: solid;
        border-color: palevioletred transparent transparent palevioletred;
        transform: rotate(225deg) translateY(-50%);
      }
      .menu-list {
        padding-left: 0;
        display: none;
        .reptile-item {
          font-size: 4rem;
          color:palevioletred;
          padding: 2rem;
          border-bottom: 3px #333 solid;
          cursor: pointer;
        }
        .reptile-item:hover {
          background-color: #222;
          transition: .3s;
        }
      }
  
      // 新入荷
      .arrival-ttl { 
        color: darkseagreen;
      }
      .arrival-ttl:after { border-color: darkseagreen; }
      .arrival-item { 
        padding: 2rem;
        border-bottom: .3rem #333 solid;
        .arrival-day { font-size: 4rem;}
        .arrival-animal {
          margin: .5rem 0 0;
          font-size: 4rem;
        }
      }
  
      // SNS
      .sns-ttl {
        width: 100%;
        margin: 3rem auto 0;
        padding: 1rem 2rem;
        background: #222;
        color: skyblue;
        font-size: 4rem;
        text-align: center;
        border-radius: 5%;}
      .sns-ttl:after { 
        border-color: skyblue;
      }
      .sns-box { 
        display: none;
        width: 100%;
        height: 70rem;
        margin: 1rem auto 0;
        .twitter-timeline {
          width: 100%;
          height: 100%;
        }
      }
  
      // フォーム
      form { 
        width: 100%;
        margin: 3rem auto 0;
        .form-txt01 {
          font-size: 1.35rem;
        }
        .search-box {
          margin:0 0 0 1rem;
          width: 59rem;
          height: 6.5rem;
          margin: .5rem 0 0;
          color: #111;
          font-size: 3rem;
        }
        .search-btn {
          margin:0 0 0 1rem;
          width: 8rem;
          height: 6.5rem;
          background: lightcoral;
          color: #fff;
          padding: 0;
          cursor: pointer;
          font-size: 3rem;
        }
      }

      .shop-data-edit { 
        margin: 2rem 0; 
        .btn {
          font-size: 3rem;
          display: inline-block;
        }
      }
  
      // ショップデータ
      .shop-data-ttl {
        width: 100%;
        margin: 3rem auto 0;
        padding: 1rem 2rem;
        background: #222;
        color: thistle;
        font-size: 2.2rem;
        text-align: center;
        border-radius: 5%;
      }
      .shop-data-list {
        width: 100%;
        margin: 3rem 0 0;
        .shop-data-item {
          flex-direction: column;
          justify-content: left;
          flex-wrap: wrap;
          padding: 3rem 2rem;
          border-bottom: 2px #333 solid;
          dt { 
            font-size: 4.2rem;
            font-weight: bold;
            color: thistle;
            text-align: left;
          }
          dd { 
            margin:1.5rem 0 0;
            font-size: 4rem;
            overflow: scroll;
            justify-content: flex-start;
          }
        }
      }
  
      // グーグルマップ 
      .googlemap { 
        margin: 3rem 0;
        height: 40rem;
      }
      // スライダー
      .swiper-container {
        width: auto;
        margin: 0 auto!important;
      }
      .swiper-slide {  
        .swiper-image {
          width: 28rem;
        }
      }
      // ショップ情報編集
      .user-list {
        display: flex;
        width: 30rem;
        margin:0 0 0 1.5rem;
          .btn { 
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
          }
          .btn:first-of-type { 
            margin: 0 1rem 0 0;
          }
        }
        
      // 商品ページ
      .search-content { 
        margin: 2rem auto 0;
        .search-item { 
        padding: 1rem 1rem 0;
        border-top: 3px solid #333;
        font-size: 2rem;
        flex-direction: column;
        }
        .txt-list { 
          width: 100%;
          margin: 3rem 0 2rem;
          align-items: baseline;
        }
        .txt-item{ 
          width: 95%;
          font-size: 3rem;
        }
        .photo 
        { 
          width: 25rem;
          margin: 2rem 0 0;
          img{
              width: 100%;
          }
        }
        .txt-item p:first-of-type 
          { width: 21rem;
          padding: .5rem .5rem .5rem 0;
          font-weight: bold;
        }
        .name a:hover { text-decoration: underline; color: lightblue;}
        .species { color: darkseagreen;}
        .morph { color: darkgoldenrod;}
        .shop { color: skyblue;}
        .gender { color: lightsalmon;}
        .price { color: thistle;}
        } 
      }//show
        
  /*==============================================================================
  ショップ情報の登録・編集 画面
  ============================================================================= */
  .img-coment {
    font-size: 1.4rem;
  }

  /*==============================================================================
  footerナビ(SP)
  ============================================================================= */
  // ナビ
  .gnav { 
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #333;
    .gnav_list {
      display: flex;
      align-items: center;
      margin:0; 
      padding: 0;
      .gnav_item { 
        width: 33.3%;
        padding: 2rem 0 1rem;
        color: #fff;
        font-size: 3rem;
        font-weight: bold; 
        text-align: center;
      }
      .gnav_item:not(:first-of-type) { 
        border-left: 1px solid #666;
      }
      .item01 { border-right: 1px solid #666; }
      .gnav_item a { display: block;}
      .gnav_item p { margin: 1rem 0 0;}
      .gnav_item i { display: block;}
    }
  }
  // メニュー
  .nav_block { 
    display: none; 
    position: fixed; 
    bottom: 0; 
    right: 0; 
    padding: 0; 
    width: 70%; 
    background-color: #222; 
    z-index: 4; 
    .nav_list { 
      width: 90%; 
      height: 100vh; 
      margin: 0 auto; 
      padding: 8rem 0 2rem;
    } 
    .nav_item {  
      padding: 3rem 0; 
      border-bottom: #333 solid .1rem; 
      color: #fff; 
      font-size: 3.2rem; 
      text-align: center;
      text-decoration: none;
    }
    .nav_item:active {  
      background-color: #999;
      text-decoration: none;
    }
  }
  // モーダル
  .menu_modal { 
    display: none; 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    z-index: 3; 
    width:100%; 
    height: 100vh; 
    background: #111; 
    opacity: .8;
  }
.modal_active{ display: block; transition: .3s;}

// コピーライト
.copyright {
  .bg {
    padding: 10rem 0 12.5rem;
  }
  .copyright-txt {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
  }
}

.breadcrumbs {
  font-size: 2.5rem;
  &:first-child {
    &:before {
      color: #fff;
      font-family: FontAwesome;
      content: "\f015";
      margin-right: 6px;
    }
  }
 }
 .breadcrumbs a:hover {
  color: #888;
  text-decoration: underline;
 }
 .section-breadcrumbs {
  margin: 3rem auto 2rem;
  border-top: .01rem solid #444;
  border-bottom: .01rem solid #444;
 }
 .container-breadcrumbs {
   padding: 1rem 2rem;
 }

}// @media(max-width: 767px)
  
  
  @media screen and (max-width: 400px) {
  /*==============================================================================
    login画面
  ============================================================================= */
  .btn-social { padding: .8rem; }
  .text { margin-left: 35px; }
  .text2 { margin-left: 25px; }
  #my_size { font-size: 1.2rem; }
  .devise { padding: 1rem; }
  
  }
