/*
*= require_self
*= require_tree . 
 */
@charset "utf-8";
@import "bootstrap";
@import "bootstrap-social";
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700');

/*==============================================================================
body
============================================================================= */
body {
  padding-top: 50px;
  background-color: #111;
  color: #fff;
  font-family: "Hiragino Kaku Gothic ProN";
  //font-family: "M PLUS Rounded 1c", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-weight:bold;
  line-height: 1.8;
  letter-spacing: .06rem;
  text-align: center;
  overflow-wrap: break-word;
  // word-break: break-all;
}

a { color: inherit; }

/* =============================================================================
    Common Style
========================================================================== */
ul, li { list-style: none; }

.botton-hover {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

/*
 * position styles
 */
.relative { position: relative; }

.absolute { position: absolute; }

/*
 * flex box
 */
.flex { display: flex; display: -webkit-flex; }

.align-center{ align-items: center; }
// /* Inner InitialStyle */
// .inner { width:1000px; margin: 0 auto; padding: 0; position:relative; }

/*
 * form-control
 */
.form-control {
  // border-radius: 0.125rem;
  border-radius: 0.2rem;
}

/*==============================================================================
  共通header
============================================================================= */
#header { background-color: #111; color: silver; font-weight: bold; }
#logo { font-size: 20px; }
#logo:hover { color: silver; text-decoration: none; cursor: pointer; }

/* header-btn */
.mypage { color: white; background-color: #17a2b8;}
.mypage:hover {
  color: white;
  background-color: #0e7889;
}

.btn-padding { padding-left: 10px; }

.login_out { color: white; background-color: #666;}
.login_out:hover {
  color: white;
  background-color: #444;
}
.newcreate:hover {
  color: #fff;
  background-color: #c11e2e;
  border-color: #c11e2e;
}

/*==============================================================================
  topページ
============================================================================= */

/* main-top */
.jumbotron {
  background:url(/images/hero.jpg) no-repeat 30% 60%/ cover;
  text-shadow: 3px 3px 5px #333, 6px 6px 10px #111;
  h1 {
    font-size: 70px;
    margin: 50px 0px 60px;
  }
  .txt {
    text-shadow: 1px 1px #666, 2px 2px #333;
  }
  .txt01 {
    font-size: 30px;
  }
  .txt02 {
    font-size: 23px;
    margin: 10px 0 0;
  }
}

/* search */
.search form {
  width: 500px;
  margin: 40px auto 0;
  text-align: center;
}
.serch-ttl {
  width: 240px;
  color: silver;
  font-size: 30px;
  margin: 0 auto;
  padding: 0 0 10px;
  border-bottom: 1px silver solid;
}
.search-box {
  width: 350px;
  height: 40px;
  color: #111;
  font-size: 13.5px;
}
.search-btn {
  margin:0 0 0 10px;
  width: 80px;
  height: 40px;
  background: lightcoral;
  color: #fff;
  padding: 0;
  cursor: pointer;
  font-size: 13.5px;
}

/* メインコンテンツ */
.group-ttl {
  width: 240px;
  color: silver;
  font-size: 30px;
	margin: 0 auto;
	padding: 0 0 10px;
  border-bottom: 1px silver solid;
}

.group .bg { background: #111 ; padding: 60px 0;}

.align-center{align-items:center;}

.group .content  { width: 900px; margin: 0 auto; padding: 60px 0 0; }

/*==============================================================================
  login画面
============================================================================= */
.text { text-align: center; }
.text2 { text-align: center; }
#my_size {
  text-align: center;
  font-size: 14px;
}
.bgc-333 {
  background-color: #333;
  padding: 40px;
}

/*==============================================================================
マイページ(show)
============================================================================= */

/* マイページ */
.show { margin-top: 40px; }

/* 生体登録 */
.regist-pd { width: 220px; }
.regist {
  width: 220px;
  padding: 10px 20px;
  margin: 0px 0px 50px 15px;
  background: lightcoral;
  color: white;
  font-size: 18px;
  border: solid 1px lightcoral;
  border-radius: 5px;
  text-shadow: 1px 1px 1px #444;
}
.regist:hover {
  background-color: rgb(211, 80, 80);
  cursor: pointer;
 }

 /* 販売生体 */
.menu-ttl {
  position: relative;
  padding: 10px 20px;
	background: #222;
	color: palevioletred;
	font-size: 20px;
  border-radius: 5px;
  text-shadow: 1px 1px 1px #000;
}
.menu-list {
  padding-left: 0;
  
  .reptile-item {
    font-size: 18px;
    color:palevioletred;
    padding: 20px;
    border-bottom: 3px #333 solid;
    cursor: pointer;
  }
  .reptile-item:hover {
    background-color: #222;
    transition: .3s;
  }
}


// .menu-list a .item .menu-select {
//   padding-right: 10px;
// }
// .menu-list a .item .menu-select:hover {
//   padding-right: 0px;
//   transition: .3s;
// }
/*==============================================================================
shop 情報
============================================================================= */

/* ショップデータ */

.shop-data { margin: 0 0 0 40px; align-items: center; justify-content: flex-end; }

.shop-data h3 { padding: 10px 20px; background: #222; font-size: 22px; border-radius: 5%; color: thistle; font-weight: bold; text-align: center;}

.shop-data-item { padding: 10px 20px 10px 30px;  border-bottom: 3px #333 solid; align-items: center;}

.shop-data-item dt { width: 150px; font-size: 18px; font-weight: bold; color: thistle;  }

.shop-data-item dd { width: 500px; font-size: 16px; color: #fff; }

.shop-data a:hover { color: lightblue; text-decoration: underline ;}

/* 新入荷 */
.arrival-ttl {  padding: 10px 20px; background: #222; color: darkseagreen; font-size: 22px; text-align: center; border-radius: 5%;}

.arrival-item { padding: 20px 20px 20px 30px; border-bottom: 3px #333 solid;  }

.arrival-day { font-size: 12px;}

.arrival-animal { font-size: 16px; margin: 5px 0 0; }

.arrival-animal:hover { color: lightblue; text-decoration: underline; }


/* googlemap */
.googlemap { height: 350px; margin: 50px 0 50px;}

/* ツイッター */
.sns-ttl { padding: 10px 20px; background: #222; color: skyblue; font-size: 22px; text-align: center; border-radius: 5%;}
.sns-box { height: 500px; margin: 5px auto 0;}
.twitter-timeline { width: 100%; height: 100%; }

/* instagram */
.iswd-base {
  width: 100% !important;
  color: black;
  // color: white;
  // background-color: #292F33 !important;
  // border-color: #292F33 !important;
}

/*==============================================================================
販売生体
============================================================================= */

/* メインコンテンツ */

.lower-container { margin: 40px 0 0;}

.search-content { width: 700px; margin: 0 0 0 40px;}

.search-item { padding: 20px 0 0; border-top: 3px solid #333;}

.search-item:not(:first-of-type) { margin: 20px 0 0;}

.search-content .photo { padding: 0 20px 0 0;}

.search-content .txt-item { font-size: 20px;}

.search-item .photo { width: 160px;}

.txt-item p:first-of-type { width: 150px; padding: 5px 5px 5px 0; font-weight: bold;}

.search-content .species { color: darkseagreen;}

.search-content .morph { color: darkgoldenrod;}

.search-content .shop { color: thistle;}

.search-content .gender { color: lightsalmon;}

.search-content .price { color: skyblue;}

.search-content .name a:hover { text-decoration: underline; color: lightblue;}


/* =============================================================================
    Others
   ========================================================================== */

/* Header fix */
.fixed { position:fixed; left:0; top:0; z-index:9999; }

/* arrow */
.arrow:after { display:block; position:absolute; left:0; right:0; margin:auto; content:''; }

/*
 * clearfix
 */
.clearfix:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }

/*
 * hover effect
 */
.u-target { transition: opacity .3s; cursor: pointer; }


.box { height: 2000px;}
