/////* *///////////////////////////
/////*            max 767px              *///////////////////////////
/////* *///////////////////////////
@media screen and (max-width: 767px) {

html { font-size: 62.5%;}
.nav li .btn { font-size: 1.4rem; }
body { padding-top: 4rem; }
#logo { font-size: 1.6rem;}
/*==============================================================================
  topページ
============================================================================= */
.jumbotron {
  background:url(/images/hero.jpg) no-repeat 30% 40%/ cover;
}
.jumbotron h1 {
  font-size: 5rem;
  margin: 3rem 0px 4rem;
}
.jumbotron .txt01 {
  font-size: 2rem;
}
.jumbotron .txt02 {
  font-size: 1.4rem;
  margin: 1rem 0 0;
}

/*==============================================================================
  login画面
============================================================================= */
.btn-social { padding: .8rem; }
.text { margin-left: 20px; }
#my_size { font-size: 1.4rem; }
.devise { padding: 1.4rem; }

}









/////* *///////////////////////////
/////* max 400px（ Galaxy S7 =412px以下 ） *///////////////////////////
/////* *///////////////////////////
@media screen and (max-width: 400px) {

body { padding-top: 4rem; }
/*==============================================================================
  topページ
============================================================================= */
.jumbotron h1 {
  font-size: 3.2rem;
  margin: 3rem 0px 4rem;
}
.jumbotron .txt01 {
  font-size: 1.4rem;
}
.jumbotron .txt02 {
  font-size: 1rem;
  margin: 1rem 0 0;
}

/*==============================================================================
  login画面
============================================================================= */
.btn-social { padding: .8rem; }
.text { margin-left: 35px; }
.text2 { margin-left: 25px; }
#my_size { font-size: 1.2rem; }
.devise { padding: 1rem; }

}
