<div class="text-center" style="font-size: 10px;">笑いのエッセンス</div>
<div style="display: flex; align-items: center; justify-content: center; margin: 5px;">
  <% ran = Random.new %>
    <img src="/uploads/comedy/4681<%= "#{ran.rand(1..8)}" %>.jpg" alt="" style="height: 130px;" />
</div>
