<% Rails.application.config.another_logger.debug "[d] view: パスワード編集" %>

<div class="container-fluid">
  <h4>Reptiles Farm</h4><br>
  <div class="row justify-content-center">
    <div class="col-9 col-sm-8 col-md-7 col-lg-7 col-xl-6 devise">
    
      <div class="row justify-content-center">
        <div class="col-8">
        <% if @edit_mode == "pass" %>
          <h2>パスワードの変更</h2><!--<%= resource_name.to_s.humanize %>-->
          <%= render 'users/shared/pass_edit' %>
        <% else %>
          <h2>ユーザー情報の編集</h2>
          <%= render "users/shared/userinfo_edit" %>
        <% end %>
        </div>
      </div>
      
    </div>
  </div>
</div>
